body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

input {
  margin: 5px;
  padding: 8px;
}

button {
  margin-top: 10px;
  padding: 8px;
  width: 10%;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  font-weight: bold;
}