body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#resultado {
    margin-top: 20px;
}

.card {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}